<%= render "shared/header" %>

<div class="task_gene_page">
  <div class="task_gene_page_box">
    <div class="task_gene_page_title">
      <%=form_with model: [@project,@task], url:project_tasks_path, local: true do |f|%>
      <%= @project.title %>/タスク作成ページ
    </div>
    <div class="task_gene_form">
        <div class="task_title_label">
          <label>タスク名</label>
        </div>
        <%= f.text_field :title, class: 'task_title', placeholder:"タスク名を記入してください" %>

        <div class="task_aim_label">
            <label>目標</label>
        </div>
        <%= f.text_field :aim, class: 'task_aim', placeholder:"このタスクの目標/狙いを記入してください" %>

        <div class="task_date">
          <label>実施日：</label>
          <%= f.date_select :date, class: 'task_date', placeholder:"実施日を入力してください",use_two_digit_numbers:true %>
        </div>

        <div class="task_content_label">
          <label>内容：</label>
          <%=f.text_area :content, class: 'task_content', placeholder:"タスクの内容、結果、考察を記入してください"%>
        </div>
        
        <%= f.submit "作成する", class:"task_gene_btn"%>
      <% end %>
    </div> 
  </div>
</div>

